openapi: 3.0.1
info:
  title: STD21084  API
  description: 'Hello world'
  version: 1.0.0
servers:
  - url: https://STD21084.com
tags:
  - name: Students

  - name: Courses
paths:
  /students:
    get:
      tags:
        - Students
      operationId: getStudents
      summary: Get all students
      description: Get all students with details
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Students'
        400:
          description: Bad request
    post:
      tags:
        - Students
      operationId: createStudent
      summary : Create new student
      description: Create new student
      requestBody:
        description: Student to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudents'
        required: true
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'
        400:
          description: Bad request
    put:
      tags:
        - Students
      operationId: changeAllStudents
      summary : Create new Student
      description: Create new Student
      requestBody:
        description: student to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudents'
        required: true
      responses:
        200:
          description: New List of Student
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'
        400:
          description: Bad request
    patch:
      tags:
        - Students
      operationId: changeSpecificStudent
      summary : Create new version of Students
      description: Create new version of Students
      requestBody:
        description: students to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudents'
        required: true
      responses:
        200:
          description: New List of Students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'
        400:
          description: Bad request

  /students/{id}:
    get:
      tags:
        - Students
      operationId: getStudentId
      summary: Get specified students
      description: Get all specified student with details
      parameters:
        - name: id
          in: path
          schema :
            type : integer
          required : true
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'
        400:
          description: Bad request

    delete:
      tags:
        - Students
      summary : Delete specified student
      description : Delete all or one student
      parameters:
        - name : id
          in: path
          schema :
            type : integer
          required: true
      responses:
        200:
          description: Resources deleted
        400:
          description: Bad request

  /courses:
    get:
      tags:
        - Courses
      operationId: getCourses
      summary: Get all courses
      description: Get all courses with details
      parameters:
        - name: id
          in: query
          schema :
            type : integer
          required : true
      responses:
        200:
          description: List of courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Courses'
        400:
          description: Bad request
    post:
      tags:
        - Courses
      operationId: createCourse
      summary : Create new Course
      description: Create new course
      requestBody:
        description: courses to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCourses'
        required: true
      responses:
        200:
          description: List of Courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        400:
          description: Bad request
    put:
      tags:
        - Courses
      operationId: changeAllCourse
      summary : Create new Course
      description: Create new course
      requestBody:
        description: courses to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCourses'
        required: true
      responses:
        200:
          description: New List of Courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        400:
          description: Bad request
    patch:
      tags:
        - Courses
      operationId: changeSpecificCourse
      summary : Create new version of Course
      description: Create new version of course
      requestBody:
        description: courses to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCourses'
        required: true
      responses:
        200:
          description: New List of Courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        400:
          description: Bad request
  /courses/{id}:
    get:
      tags:
        - Courses
      operationId: getCourseId
      summary: Get specified Courses
      description: Get all Courses with details
      parameters:
        - name: id
          in: path
          schema :
            type : integer
          required : true
      responses:
        200:
          description: List of Courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        400:
          description: Bad request

    delete:
      tags:
        - Courses
      summary : Delete specified course
      description : Delete all or one courses
      parameters:
        - name : id
          in: path
          schema :
            type : integer
          required: true
      responses:
        200:
          description: Resources deleted
        400:
          description: Bad request

components:
  schemas:
    CreateStudents:
      type: object
      properties:
        name:
          type: string
          example: "Rakoto"
        birth_date:
          type: string
          format: date
          example: "2021-07-03"
    Students:
      allOf:
        - $ref: '#/components/schemas/CreateStudents'
      type: object
      properties:
        id:
          type: integer
          example: 10
    CreateCourses:
      type: object
      properties:
        name :
          type: string
          example: "API-EL1P1"
        Teacher :
          type : string
          example : "Toky"
        createdDate :
          type: string
          example : "2022-07-07"
    Courses :
      allOf:
        - $ref: '#/components/schemas/CreateCourses'
      type: object
      properties:
        id:
          type: integer
          example : 9

               